<footer>
    <!-- gray background -->
    <div class="footer-top">
        <div class=" horizontal">
            <img src="/public/images/logo.png">
            <div>
                <img src="">
                <p class="footer-txt">법인명(상호): (주) 에이에프에이</p>
                <p class="footer-txt">사업자 등록번호: 534-88-01437</p>
            </div>
        </div>

        <div class="horizontal" style="align-items: baseline; margin-left: 50px;">
            <h3 class="footer-h"><b>고객센터</b></h3>
            <div style="margin-left: 10px;">
                <h3 class="footer-h" style="margin-bottom: 0px;"><b>010-3738-5647</b></h3>   
                <p class="footer-txt">평일: 09:00~18:00</p>
                <p class="footer-txt">주말: 10:00~17:00</p>
                <p class="size-12 footer-h" style="margin-top: 10px;"><b>문의사항: <a class="footer-h" href="mailto:ssaturi1@naver.com"> ssaturi1@naver.com</a></b></p>
            </div>
        </div>
    </div>
    <!-- white backgroud -->
    <div class="footer-bottom">
        <label class="top-nav">이용약관</label>
        <label class="top-nav">|</label>
        <label class="top-nav">개인정보 처리방침</label>
        <label class="top-nav">|</label>
        <a class="top-nav" href="/QnA">고객센터</a>
    </div>
</footer>