<!DOCTYPE html>
<html>
    <head>
        <title>싸투리 마켓</title>
        <%- include('config') %>
    </head>
    <body>
        <%- include('recent') %>
        <%- include('top') %>
        <section>
            <div id="top-banner">
                
            </div>
        </section>
        <%- include('footer') %>
        
    </body>
</html>