<!DOCTYPE html>
<html>
    <head>
        <%- include('config') %>
        <title>로컬 마켓이란</title>
    </head>
    <body>
        <%- include('top') %>
        <section class="center">
            <img src="/public/images/local_market.png" style="width: 100vw;">
            <br>
            <div class="local">
                <p class="title">로컬푸드를 아시나요?</p>
                <div class="local-des">
                    <p class="oragne size-14">로컬푸드란 ?</p>
                    <p class=" gray size-11" >장거리 운송을 거치지 않은 지역농산물을 말합니다.
                        <br>로컬푸드는 <span class="semi-black">최소한의 유통과정으로 소비자에게 전달되므로 더 신선하고 맛이 좋습니다.</span></p>
                </div>
                <br>
                <img src="/public/images/local_img.png" style="width: 100%;">
                <br>
                <div class="local-des">
                    <p class="oragne size-14">싸투리 ?</p>
                    <p class=" gray size-11" >싸투리는 <span class="semi-black">‘싸다, 투명하다, 이용자 모두에게 이익을 제공한다’</span> 라는 뜻이며<br> 
                        지역경제발전과 사회적 가치를 추구하면서 탄생하게 되었습니다.
                        <br><br>
                        또, 온실가스 배출을 최소화하여 환경적 가치를 크게 가지고 있습니다.
                        <br><br>
                        <span class="semi-black">생산자분들에게는 새로운 판매경로를 제공하여 높은 수익을 안겨주고,<br> 
                        소비자분들에게는 거주 지역에서 생산되고있는 맛 좋고 신선한 로컬푸드를 제공하는 것이 싸투리의 사명입니다.</span><br>
                        싸투리는 직접 발로 뛰어 생산자분들을 만나고 로컬푸드의 신선도를 두 눈으로 확인해왔습니다.<br>
                        갓 수확한 신선한배추의 맛을 아직도 잊을 수 없습니다. 
                        <br><br>
                        이제는 싸투리가 신선하고 맛 좋은 로컬푸드를 모두에게 전달하고자 합니다. <br>
                        생산자, 소비자 모두 먹거리로 인해 행복한 삶을 제공할 수 있도록 싸투리는 오늘도 노력합니다.
                        <br><br>
                        감사합니다.</p>
                </div>
                <br><br>
            </div>
        </section>
        <%- include('footer') %>
    </body>
</html>