<!DOCTYPE html>
<html>
    <head>
        <title>마이 페이지</title>
        <%- include('config') %>
    </head>
    <body>
        <%- include('top') %>
        <section class="center" style="background-color: #F9F9F9;">
            <br><br>
            <p class="title">마이페이지</p>
            <br>
            
        </section>
        <%- include('footer') %>
    </body>
</html>