.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

#location {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

div.process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.item-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-item {
    margin-top: 5px;
}

.my-item-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.nav-main {
    background-color: #F9F9F9;
}

.search-box {
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.trasparent {
    background: transparent;
    border: none;
}

footer {
    width: 100%;
}
td.middle {
    text-align: center;
}

.footer-bottom {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.normal {
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    font-size: 12pt;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

input::placeholder {
    color: #AAAAAA;
}

.input-line {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 15px;
    font-size: 12pt;
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
}

.btn-round {
    border: 1px solid #DBDBDB;
    color: #777777;
    background-color: white;
    border-radius: 25px;
    font-size: 10pt;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.btn-round-active {
    border: 1px solid #EE8232;
    color: #EE8232;
}

.btn-main {
    border-radius: 5px;
    padding: 10px;
    background-color: #EE8232;
    color: white;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}

.btn-sec {
    border-radius: 5px;
    padding: 10px;
    color: #EE8232;
    border: 1px solid #EE8232;
    font-size: 12pt;
    cursor: pointer;
    background-color: white;
}

.btn-trd {
    color: #777777;
    border: 1px solid #DBDBDB;
    font-size: 12pt;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
table {
    border-spacing: 0;
    padding: 0;
}
tr.board {
    height: 50px;
    cursor: pointer;
}

tr.order {
    
}

td.order-label {
    padding: 15px 0px 15px 0px;
    width: 30%;
    text-align: center;
}
td.order-txt {
    padding: 15px 0px 15px 0px;
    width: 70%;
}

.btn-block {
    width: 100%;
}

.signup-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#signup-maker {
    border: 1px solid #EE8232;
    color: #EE8232;
    background-color: white;
}

#signup-normal {
    background-color: #EE8232;
    color: white;
}

.signup-icon {
    width: 70px;
    height: 70px;
}

.signup-form {
    background-color: #F9F9F9;
    border-radius: 5px;
}

.signup-input {
    width: 320px;
}

.signup-div {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    column-gap: 10px;
    align-items: center;
}
.top-banner {
    width: 100vw;
    color: white;
    background-color: #EE8232;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}

.rule-div {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #777777;
    padding: 10px;
}
.preview-img {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preview-contents {
    width: 99%;
    height: 99%;
    border: 0;
    border-radius: 10px;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
}

thead.thead {
    background-color: #F9F9F9;
}
th.th {
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #DBDBDB;
}

thead.less {
    border-bottom: 1px solid #EBEBEB;
}

th.less {
    text-align: center;
    border: none;
    padding: 10px;
}
div.check {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.price-cnt {
    background-color: #F9F9F9;
}

td {
    padding: 0;
    border-bottom: 1px solid #DBDBDB;
}

input.price-cnt {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    width: 130px;
    padding: 5px;
}

.my-item-img {
    margin-bottom: 10px;
}

.item-top-img {
    width: 100%;
}

hr {
    border: .5px solid #DBDBDB;
}
hr.pay {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 0px;
    border: 1.5px solid #EE8232;
}

hr.divider {
    width: 100%;
    margin: 0px;
    border: .5px solid #D3D3D3;
}

.item-des {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}

div.divide {
    background-color: #F9F9F9;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}
div.pay-div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}
 
.tab {
    text-align: center;
    font-size: 11pt;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0px 10px 0px;
}

.tab-active {
    background-color: #EE8232;
    color: white;
    border: 1px solid #EE8232;
}

.tab {
    border: 1px solid #DBDBDB;
    border-bottom: none;
}

img.detail-img {
    width: 100%;
}
div.calc-form {
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    justify-content: center;
    text-align: center;
}
div.pay-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px 50px 20px 50px;
}
div.pay-total {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.order-pay {
    border-bottom: 1px solid #DBDBDB;
}

div.pay-method-tab {
    background-color: #F9F9F9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

div.pay-method {
    background-color: #F9F9F9;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 30px 10px 30px;
    width: 80%;
}

div.my-small {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 20px;
}
div.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select.status {
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 0px;
    height: 40px;
    margin-right: 10px;
}

div.search-result {
    border-top: .5px solid #EBEBEB;
    background-color: #F9F9F9;
    width: 100vw;
    padding: 15px 0px 15px 0px;
    color: #222222;
    text-align: center;
}

img.banner-manage {
    width: 80%;
}
/* desktop */
@media(min-width: 768px) {
    div.order-member-info {
        background-color: #F9F9F9;
        padding: 30px 20px 30px 20px;
        height: 140px;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 14pt;
    }
    div.last-order {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-column-gap: 20px;
        grid-row-gap: 5px;
    }
    div.my-container {
        width: 1000px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: baseline;
    }
    div.my-tab-container {
        margin-right: -1px; 
        z-index: 2;
    }
    div.my-tab {
        width: 200px;
        margin-bottom: -1px;
        background-color: #F9F9F9;
        border-top: 1px solid #DBDBDB;
        border-left: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        padding: 10px;
    }
    .my-tab.my-tab-active {
        background-color: white;
        border-right: 1px solid white;
    }
    div.my-tab-info {
        background-color: white;
        width: 660px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid #DBDBDB;
        padding: 50px 60px 50px 60px;
    }
    .footer-top {
        background-color: #EBEBEB;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div.order-pay {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.pay-total {
        width: 30%;
    }
    div.pay-info {
        width: 70%;
    }
    div.calc-container {
        margin-top: 40px;
        width: 60vw;
    }
    div.price-cnt {
        padding: 60px 80px 60px 80px;
        height: 80px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        font-size: 14pt;
    }
    table.main {
        width: 70vw;
        padding: 10px;
        border: none;
        border-spacing: 0;
    }
    .top {
        margin-left: 15vw;
        width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-main {
        padding-left: 15vw;
        padding-right: 15vw;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 70vw;
        display: grid;
        grid-template-columns: 2fr 5fr 3fr;
        grid-column-gap: 50px;
    }
    #recent {
        width: 100px;
        height: 300px;
        position: fixed;
        right: 20px;
        z-index: 3;
    }

    #recent-cart {
        width: 100%;
        background-color: #EE8232;
        color: white;
        text-align: center;
        padding: 5px 0px 5px 0px;
        height: 30px;
    }

    #recent-item {
        width: 100%;
        height: 235px;
        background-color: #DBDBDB;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    .recent-item {
        margin-top: 5px;
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }

    .recent-btn {
        width: 100%;
        border:  1px solid #EBEBEB;
        color: #555555;
        text-align: center;
        padding: 5px 0px 5px 0px;
        height: 30px;
    }
    #login-div {
        width: 300px;
    }
    
    .signup-form {
        padding: 40px 60px 40px 60px;
        width: 600px;
    }

    .signup-btn {
        width: 720px;
    }

    .signup-selector {
        width: 180px;
        height: 180px;
    }

    #signup-div {
        width: 400px;
    }

    .grid-4 {
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .preview-img {
        width: 90px;
        height: 90px;
    }
    .item-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    td.price-cnt {
        padding: 20px;
        height: 220px;
        width: 220px;
    }

    img.small-img {
        width: 110px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    div.small-img-container {
        padding: 10px 0px 10px 0px;
        display: flex;
        width: 220px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info-div {
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-row-gap: 10px;
    }

    .bottom-div {
        width: 70vw;
        padding-left: 50px;
    }


    .item-top {
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
    }

    .my-item-img-container {
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: block;
    }

    div.detail {
        width: 60vw;
    }

    .tab {
        width: 200px;
    }
    div.hidden-br {
        display: none;
    }

    div.faq-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.pay-div {
        width: 60vw;
    }

    .m-my-btns {
        display: none;
    }

    div.local {
        width: 60vw;
    }

    div.local-des {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-column-gap: 20px;
        width: 80%;
    }

    td, th.my-item-manage {
        width: 30%;
    }

    .my-item-manage-m {
        display: none;
    }
}

/* mobile */
@media(max-width: 767px) {
    .my-item-manage {
        display: none;
    }
    div.local {
        width: 90vw;
    }
    div.last-order {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 5px;
        margin: 10px 0px 10px 0px;
    }
    .my-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .my-tab-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    div.my-tab {
        width: 33.3333333%;
        height: 90px;
        margin-right: -1px;
        background-color: #F9F9F9;
        border: 1px solid #DBDBDB;
        padding: 10px;
    }

    div.my-tab-info {
        padding: 20px 2vw 20px 2vw;
        background-color: white;
        width: 86vw;
        margin-top: -1px;
        border: 1px solid #DBDBDB;
    }
    .my-btns {
        display: none;
    }
    .footer-top {
        background-color: #EBEBEB;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #location {
        margin-bottom: 10px;
        width: 100%;
    }
    div.pay-total {
        width: 100%;
    }
    div.pay-info {
        width: 100%;
    }
    div.pay-div {
        width: 90vw;
    }
    div.calc-container {
        margin-top: 20px;
        width: 100%;
    }
    table.main {
        width: 100%;
    }
    #recent {
        display: none;
    }
    div.faq-div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    div.hidden-br {
        height: 5px;
    }
    div.price-cnt {
        width: 60%;
        padding: 10px 20px 10px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        flex-direction: column;
        font-size: 12pt;
    }
    .info-div {
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 10px;
    }
        img.small-img {
        width: 90px;
        height: 120px;
        object-fit: cover;
        object-position: center;
    }

    div.small-img-container {
        display: flex;
        width: 120px;
        padding: 5px 0px 5px 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .tab {
        width: 33.3%;
    }
    .item-top {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    div.detail {
        width: 90vw;
    }
    .my-item-img-container {
        margin-bottom: 10px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        display: block;
    }
    .top {
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .signup-form {
        padding: 20px;
        width: 86vw;
    }
    .signup-btn {
        width: 86vw;
    }

    .signup-selector {
        width: 150px;
        height: 150px;
    }
    #signup-div {
        width: 85%;
    }
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        width: 90vw;
    }

    .preview-img {
        width: 60px;
        height: 60px;
    }

    .nav-main {
        width: 86vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px 7vw 10px 7vw;
        overflow: hidden;
    }

    .item-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bottom-div {
        width: 100vw;
        padding-left: 30px;
    }
}